SECRET_KEY=A1B1C1D1E1F1G1H1I1J1K1L1M1
API_KEY=AIzaSyCZSosExC6N4Bbrf5vDkFKPqy3by1_cS1E
CSE_ID=f14289afede984a85
DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=1212
DB_NAME=browser_history

ENCRYPTION_KEY=g_ESzMbzdrGGRg4cOW5BLGI8OtyFbVz6TRYumHTNZZw=
